/*
Theme Name: MMF Theme
Theme
Author: Ksun
Author URI:
Description: that's our first wordpress theme!
Version: 1.8
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: dark, light, white, black, gray, one-column, two-columns, left-sidebar, right-sidebar, fixed-layout, responsive-layout, custom-background, custom-colors, custom-header, custom-menu, editor-style, featured-image-header, featured-images, flexible-header, full-width-template, microformats, post-formats, rtl-language-support, sticky-post, theme-options, translation-ready
Text Domain: mmftheme
*/

/* =Reset default browser CSS. Based on work by Eric Meyer: http://meyerweb.com/eric/tools/css/reset/index.html
-------------------------------------------------------------- */

html, body, div, span,
h1, h2, h3, h4, h5, h6, p,
a, abbr, acronym, address, big, cite, code,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label,
table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0;
    font-family: Fjalla One, sans-serif !important;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}

#content {
    position: relative;
    margin:0 auto;

}

#content .slider {
    background-color: rgb(218, 242, 247);
    position: relative;
    width: 70%;
    height: 50%;
    overflow: auto;
    margin: auto;
    top: 0; left: 0; bottom: 0; right: 0;
    background-color: rgb(233, 223, 227);

}
div .post  {
    border: solid 1px rgb(206, 184, 167);
    position: relative;
    width: 80%;
    height: 50%;
    overflow: auto;
    margin: auto;
    top: 0; left: 0; bottom: 0; right: 0;
}

div .post-title h2 {
    font-weight: bold;
    font-size: 150%;
}
div .post-title h2 a{
    color: rgb(206, 184, 167);
}



/*
html {
    background: url(images/kijvmW4csAc.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
*/

.localscroll {
    position: fixed;
    margin:auto;
    left:15%;
    top: 2%;
}
ol, ul {
    list-style: none;
}
.navigation li {
    position: relative;
    margin-right: 20px;
    float: left;
    margin-bottom: 30px;
}

li {
    list-style: none;
    display: list-item;
    text-align: -webkit-match-parent;

}

.circle li .style {
    height: 140px;
    width: 140px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-color: #fff;
    display: block;
    -moz-transition: all 600ms ease 0s;
    -o-transition: all 600ms ease 0s;
    -webkit-transition: all 600ms ease 0s;
    transition: all 600ms ease 0s;
}

.circle li .style a {
    z-index: 1;
    float: left;
    position: relative;
    width: 100%;
    height: 100%;
}

.circle li .style a .text {
    color: #000;
    font-weight: 400;
    text-transform: uppercase;
    height: 31px;
    width: 100%;
    position: absolute;
    text-align: center;
    margin-top: 90px;
}


a {
    color: #cccccc;
    text-decoration: none;
}

.circle li:hover .style a .text {
    color:#fff;
}
.circle li:hover .style{
    background-color:#000;
}

.navigation li .back_circle {
    position:absolute;
    Top:-2px;
    left:-2px;
    height: 100%;
    width: 100%;

    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter:alpha(opacity=0);

    display: block;
    background-color: transparent;
    border: 2px solid rgba(191,225,216,1);

    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;

    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    transition-property: all;

    -webkit-transition-duration: 275ms;
    -moz-transition-duration: 275ms;
    -o-transition-duration: 275ms;
    transition-duration: 275ms;
}

.navigation li:hover .back_circle , .navigation li:focus  .back_circle , .navigation li:active .back_circle {
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
    filter:alpha(opacity=1);

    -webkit-transform: scale(1.07);
    -moz-transform: scale(1.07);
    -ms-transform: scale(1.07);
    -o-transform: scale(1.07);
    transform: scale(1.07);
}

.circle li:hover .style {
    background-color: rgba(191,225,216,1) !important;
}

img {
    max-width: 100%;
    height: auto;
}

.imgwrapper .display img {
    width: 100%;
    display: block;
}

.imgwrapper .display {
    zoom: 1;
}

.display {
    margin: 0;
    padding: 0;
}

button {
    -webkit-appearance: none;
    background: transparent;
    border: 0;
}

.paginate {
    position: absolute;
    margin: auto;
    width: 60px;
    height: 40px;
    cursor: pointer;
    -webkit-transform: translate3d(0, 0, 0);
    top: 90%;left: 50%;
    margin-left: -30px;
}

.paginate i {
    position: absolute;
    bottom: 2%;
    margin-left: 50%;
    width: 40px;
    height: 5px;
    border-radius: 2px;
    background: #fff;
    transition: all 0.15s ease;
}

.paginate i {
    -webkit-transform-origin: 0% 50%;
    -webkit-filter: drop-shadow(0 2px 0px rgba(255, 255, 255, 0.3));
    left: 5px;
}
.paginate i:first-child {
    -webkit-transform: translate(-1px, -1px) rotate(-50deg);
}
.paginate i:last-child {
    -webkit-transform: translate(0, 1px) rotate(-130deg);
}
.paginate:hover i:first-child {
    -webkit-transform: translate(-1px, -1px) rotate(-40deg);
}
.paginate:hover i:last-child {
    -webkit-transform: translate(0, 1px) rotate(-140deg);
}
.paginate:active i:first-child {
    -webkit-transform: translate(1px, -1px) rotate(-45deg);
}
.paginate:active i:last-child {
    -webkit-transform: translate(1px, 1px) rotate(-135deg);
}

.linkwrapper {
    position: absolute;
    top: 85%;left: 50%;
    margin-left: -30px;
}

.newslabel {
    position: relative;
    font-family: Fjalla One, sans-serif !important;
    font-size: 200%;
    font-style: inherit;
    font-weight: inherit;
    text-transform: uppercase;
    color: rgba(191,225,216,1);
}
#studdekan-info ul li h1 {
    font-weight: 700;
    font-size: 25px;
    line-height: 40px;
    font-family: "futura-pt", sans-serif;
    color: #898a8a;
    text-transform: uppercase;
    letter-spacing: 1px;
}
#studdekan-info ul li h2 {
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    font-family: "garamond-premier-pro", serif;
    color: #898a8a;
    text-transform: none;
    font-style: italic;
    padding-bottom: 30px;
}

#studdekan-info ul li .studdekan-wrapper h3{
    visibility:hidden;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    font-family: "futura-pt", sans-serif;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top:10px;

}


.studdekan-wrapper {
    width: 100%;
    display: inline-block;
    position: relative;
}

.studdekan-wrapper:after {
    padding-top: 100%;
    display: block;
    content: '';
}

#studdekan-info ul li {

    width: 100%;
    margin: 0px;
    display: inline-block;
    float: none;
}


#studdekan-info ul li {
    display: inline-block;
    width: 40%;
    padding: 40px;
    float: none;
    list-style: none;
}

.studdekan {
    background-position: center;
    z-index: 100;
    background-size: 100% 100%;
    position: absolute;
    top: 0;bottom: 0;left: 0;right: 0;
    -webkit-transition: all .5s ease-in;
    -moz-transition: all .5s ease-in;
    -o-transition: all .5s ease-in;
    transition: all .5s ease-in;
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    transition: all .5s ease-out;
}

#studdekan-info {
    text-align: center;
    position: fixed;
    top: 30%;
    margin: 0;
    width: 100%;
}

#studdekan-info ul li .studdekan-wrapper:hover h3{
    visibility:visible;
}

#studdekan-info ul li .studdekan img{
    visibility:hidden;
    margin-top:35%;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

#studdekan-info ul li .studdekan:hover img{
    visibility:visible;

}

#studdekan-info ul li .studdekan-wrapper:hover img{
    -webkit-filter: grayscale(50%);
}

#studdekan-info ul li .studdekan-wrapper:hover img{
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

.avatar {
    border-radius: 50%;
    box-shadow: 0px 1px 1px 1px #bbb

}
.avatar img {
    display: block;
    width: 100%;
    border: 0;
    margin: 0;
    border-radius: 50%;

}

